@charset "UTF-8";

t{
    /* color:violet; */
    color:white;
    font-size: 4vw;
}
article{
    background-color: antiquewhite;
    border-width: thin ;
    border-style: solid;
}
.container{
    display:flex;
    flex-direction: row;
}
/* ヘッダーについて */
#home{
    background-image: url(img/toppage.jpg);
}
.page-header{
    background-size: cover;
    background-position: center top;
    display: flex;
    justify-content: space-between; 
    height:150pt;
}
.main-nav{
    list-style: none;
    display:flex;
    text-transform: uppercase;
}
.main-nav li{
    /* ヘッダーの間隔設定 */
    margin-left: 28pt;
}
a{
    /* 下線をなくす */
    text-decoration: none; 
    color:black;
}
/* ヘッダーのボタン設定 */
.button{font-size: 18pt;

    border-radius: 5px;
    padding: 4pt 8pt;
    /* color: violet; */
    color:black;
}
.button:hover{
    background: violet;
    color:#fff;
}